name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

jobs:
  testing:
    name: Unit Testing (Python ${{ matrix.python }}, ipywidgets${{ matrix.ipywidgets }})
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        ipywidgets:
          - "<8"
          - ">=8,<9"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
          # setuptools_scm requires a non-shallow clone of the repository
          fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Install package and development dependencies
      run: |
        python -m pip install "ipywidgets${{ matrix.ipywidgets }}"
        python -m pip install .
        python -m pip install -r requirements-dev.txt

    - name: Run Python tests including notebooks
      run: |
        python -m pytest --nbval
