name: PyPI deploy

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  pypi-deploy:
    name: Deploying Python Package
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4
      with:
          # setuptools_scm requires a non-shallow clone of the repository
          fetch-depth: 0

    - uses: actions/setup-python@v4
      name: Install Python

    - name: Build source distribution
      run: |
        pipx run build --sdist

    - uses: pypa/gh-action-pypi-publish@v1.8.10
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
