name: PyPI deploy

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  pypi-deploy:
    name: Deploying Python Package
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v6
      with:
          # setuptools_scm requires a non-shallow clone of the repository
          fetch-depth: 0

    - uses: actions/setup-python@v6
      name: Install Python

    - name: Build source distribution
      run: |
        pipx run build --sdist

    - uses: pypa/gh-action-pypi-publish@release/v1
